---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import TextAndImage from '../components/TextAndImage.astro';
import Descripcion from '../components/Descripcion.astro';
import Video from '../components/Video.astro';
---

<Layout title="My KIWIS">
	<main class=" h-screen">
		<Header /> 
		<TextAndImage />
		<Video />

		
	
	</main>

	<section>
		<Descripcion />
	</section>

	
</Layout>

