
<!-- <picture class=" absolute h-full">
 <img src="bg-black.jpg" alt="">
</picture> -->


<div class=" px-52  font-Exo bg-gradient-to-t from-gray-800 via-gray-900 to-black">


    
    <div class="grid grid-cols-10 gap-4 py-20">


        <!-- Bento 1 -->
        <div class="relative flex justify-center col-span-4 rounded-lg overflow-hidden shadow-2xl">
            <img class=" max-h-[650px] " src="5-1.png" alt="">
        </div>


        <!-- Bento 2 -->

        <div class="relative flex justify-center col-span-6 bg-yellow-500 rounded-lg overflow-hidden shadow-2xl">
            <img class=" max-h-[650px] w-full object-contain" src="5-4.png" alt="">
            <p class=" absolute bottom-0  text-center backdrop-blur-2xl text-sm 2xl:text-lg py-5 px-2 text-white">La afeitadora MYKIWIS está diseñada para
                brindar un AFEITADO SIN DOLOR y preciso en
                áreas sensibles del cuerpo.
                Su diseño ergonómica y RESISTENTE AL AGUA
                TE PERMITE USARLA EN LA DUCHA con total
                confianza. Además incluye peines de distintos niveles de
                precisión para un acabado profesional en la
                barba y las patillas.
                </p>
            
        </div>

        <!-- Bento 3 -->

        <div class="relative flex justify-center col-span-6 rounded-lg overflow-hidden shadow-2xl">
            <img class=" max-h-[650px]  blur-sm" src="men-bg2.jpg" alt="">

            <div class=" absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex justify-center text-center flex-col text-white">

                <h1 class=" text-4xl pb-10 font-bold">CARACTERISTICAS</h1>

            <p class=" pb-5"> <span class="text-lg font-semibold">LARGA DURACIÓN, SKINSECURE,
                WATERPROOF:</span> <br>
                 Batería de hasta 120
                minutos de uso continuo, Tecnología y
                cuchillas de cerámica, resistente al agua.</p>

                <p class=" pb-5"> <span class="text-lg font-semibold">CUCHILLAS INTERCAMBIALES:</span> <br>
                         Las
cuchillas son intercámbiales para cuando
pierda filo, la maquina no queda obsoleta
(nosotros tenemos los repuestos).
                </p>


                <p class=" pb-5"> <span class="text-lg font-semibold">PEINES:</span> <br>
                     Incluye 4 peines (6, 8, 10 y 12 mm)
para que puedas regular el largo a la hora
de cortar.
                </p>


                <p>
                    <span class="text-lg font-semibold">INCLUYE:</span> <br>
                     1 Base de carga.
                </p>

                <a class=" font-Exo bg-orange-600 hover:bg-white  hover:text-orange-600  ease-out duration-200 px-5 py-3 rounded-lg text-lg font-semibold mt-10"  href="#">CONSIGUE LA TUYA</a>
            </div>
        </div>


        <!-- Bento 4 -->
        <div class="relative flex justify-center col-span-4 rounded-lg overflow-hidden shadow-2xl">
            <img class=" max-h-[650px] w-full" src="2-1.png" alt="">
        </div>
    </div>
</div>