<nav class="flex justify-between items-center px-52 py-4 w-full backdrop-blur-md text-white font-semibold font-Exo z-50 relative"  >
    <ul class=" flex items-center">
        <li>
            <img class=" w-52" src="kiwi-logo.png" alt="">
        </li>
    </ul>

    <ul class=" flex space-x-10">
        <li>
            <a class=" bg-white text-orange-600 hover:bg-orange-600 hover:text-white ease-in-out duration-200 px-5 py-3 rounded-lg" href="#">CUCHILLA DE REPUESTO</a>
        </li>
        <li>
            <a class="  bg-orange-600 hover:bg-white  hover:text-orange-600  ease-out duration-200 px-5 py-3 rounded-lg" href="#">COMPRAR AHORA</a>
        </li>
    </ul>
</nav>
