<section class=" z-50 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex place-content-center mt-16 space-x-32">
    <div>
        <img class=" h-[500px]" src="maquina.png" alt="">
    </div>

    <div class=" flex flex-col place-content-center text-5xl text-white text-center">
     <div class=" flex  space-x-10 pb-8 font-Quicksand items-center">
        <span class=" flex justify-center items-center" >
            <h3 class=" text-4xl">ANTES <br> $3499</h3>
            <svg class=" absolute pl-5 h-32 w-48" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M138.5650177001953,67.26457214355469C198.05679575602213,104.48430124918619,465.4708429972331,271.5993881225586,495.51568603515625,290.58294677734375C525.5605290730795,309.5665054321289,325.1121012369792,222.8699576059977,318.8340759277344,181.16592407226562C312.55605061848956,139.46189053853354,481.9133021036784,20.328848520914715,457.8475341796875,40.35874557495117C433.7817662556966,60.388642628987625,221.6741460164388,257.8475462595622,174.43946838378906,301.3453063964844" fill="none" stroke-width="25" stroke="url(&quot;#SvgjsLinearGradient1000&quot;)" stroke-linecap="round"></path><defs><linearGradient id="SvgjsLinearGradient1000"><stop stop-color="hsl(30, 27%, 30%)" offset="0"></stop><stop stop-color="hsl(30, 4%, 20%)" offset="1"></stop></linearGradient></defs></svg>

            <!-- 
                <svg class=" absolute  h-24 w-24  fill-black" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0,0,256,256">
                    <g  fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M7.21875,5.78125l-1.4375,1.4375l8.78125,8.78125l-8.78125,8.78125l1.4375,1.4375l8.78125,-8.78125l8.78125,8.78125l1.4375,-1.4375l-8.78125,-8.78125l8.78125,-8.78125l-1.4375,-1.4375l-8.78125,8.78125z"></path></g></g>
                    </svg>-->
        </span>
        
        <h3 class=" font-semibold text-5xl animate-bounce animate-infinite animate-duration-[3000ms]">AHORA <br> $2990</h3>
     </div>
     <span class=" text-xl pb-20 font-Exo">MAS DE 700 URUGUAYOS <br> LA ESTAN USANDO</span>
     <a class=" font-Exo bg-orange-600 hover:bg-white  hover:text-orange-600  ease-out duration-200 px-5 py-3 rounded-lg text-2xl font-semibold "  href="#">COMPRAR AHORA </a>
    </div> 
</section>